[submodule "contrib/googletest"]
	path = contrib/googletest
	url = https://github.com/google/googletest.git
[submodule "contrib/json"]
	path = contrib/json
	url = https://github.com/nlohmann/json
[submodule "contrib/qname"]
	path = contrib/qname
	url = https://github.com/quicr/qname
